@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web&display=swap);
:root {
  --main-color: rgba(49, 71, 158, 1);
  --secondary-color: rgba(237, 28, 36, 1);
  --light-color: rgba(237, 233, 233, 1);
  --bronze-color: ;
}

.color-main {
  color: var(--main-color);
}
.color-secondary {
  color: var(--secondary-color);
}
.color-light {
  color: var(--light-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background: var(--light-color);
}

/* UTILITIES */

a {
  text-decoration: none;
  color: unset;
}

.btn {
  border-radius: 20px;
  height: 56px;
  width: 80%;
  border: none;
  margin: 1rem 0 0;
  font-size: 1rem;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
}

.btn:hover {
  opacity: 1;
  box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 1);
}

.btn:active {
  transform: scale(0.95);
}

.btn-light {
  background-color: #fff;
  border: none;
  font-weight: bold;
  color: var(--main-color);
}
.btn-outline-light {
  background: none;
  border: 3px solid #fff;
  color: #fff;
}

.back-btn {
  position: absolute;
  color: var(--main-color);
  margin-left: 2rem;
  top: 6rem;
  transition: transform 0.1s ease;
}
.back-btn-2 {
  position: absolute;
  color: var(--main-color);
  margin-left: 2rem;
  top: 3rem;
  transition: transform 0.1s ease;
  cursor: pointer;
  z-index: 2;
}
.back-btn:hover,
.back-btn-2:hover {
  transform: scale(1.1);
}

.section-header {
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 2rem 0;
}
.section-header-sm {
  text-align: center;
  font-size: 1.6rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem 0;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-600px);
  transition: 0.8s all ease-out;
}

.visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.hide {
  display: none;
}

.show {
  display: block;
}

.show-flex {
  display: flex;
}

.txt-c {
  text-align: center;
}

/* HEADER */

header {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 3;
}

.header-nav {
  height: 50px;
  background: rgb(49, 71, 158);
  box-shadow: 0px 2px 25px 0px var(--light-color);
  width: 100%;
  z-index: 1;
}

.site-logo img {
  max-width: 150px;
  z-index: 1;
  position: absolute;
}

.selection-item {
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.selection-item:hover {
  transform: scale(1.1);
}

/* Main Section */

.main-container {
  width: 100%;
  min-height: calc(100vh - 50px);
  height: 100%;
  background: rgba(237, 233, 233, 1);
  position: relative;
}

.main-container .select {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: all 0.8s ease-out;
}

.main-container .select.main .back-btn,
.main-container .select.teacher .back-btn,
.main-container .select.seasons .back-btn,
.main-container .select.seasons-learner .back-btn,
.main-container .select.teacher-section .back-btn {
  top: 3rem;
  left: 0;
}

/* Seasons Selection*/

.selection-card {
  min-height: 300px;
  width: 300px;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  border-radius: 10%;
  border: 4px solid #fff;
  position: relative;
  margin: 1rem 1rem 5rem;
  display: flex;
  flex-direction: column;
}

.selection-card::after {
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  background: var(--secondary-color);
  border-radius: 10%;
  top: -0.5%;
  left: -0.5%;
  z-index: -1;
  -webkit-box-shadow: 0px 0px 35px 0px #333;
  box-shadow: 0px 0px 35px 0px #333;
}

.selection-card h2 {
  font-size: 2.2rem;
  text-align: center;
  color: #fff;
}

.selection-card.card-2 {
  padding: 0.5rem;
}
.selection-card.card-2 a {
  box-shadow: 0px 0px 10px 0px rgba(237, 233, 233, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  padding: 8px;
  border-radius: 10%;
  transition: all 0.1s ease;
}

.selection-card.card-2 a:active {
  box-shadow: 0px 0px 5px 0px rgba(237, 233, 233, 1);
  transform: scale(0.97);
}

/* Season Section */

.season-container {
  background: rgba(237, 233, 233, 1);
}

.season-container h1 {
  text-align: center;
  font-size: 4rem;
  color: var(--main-color);
  text-shadow: 2px 2px 0px rgba(237, 28, 36, 1);
}

.episodes-section {
  max-width: 1100px;
  margin: 1rem auto;
  border-radius: 25px;
  background: #ede9e9;
  box-shadow: 20px 20px 60px #c9c6c6, -20px -20px 60px #ffffff;
  display: none;
}

.episodes-section.active {
  display: block;
}

.episodes-section .episodes-grid {
  justify-content: center;
  padding-bottom: 0;
}

.episodes-grid {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
  padding-bottom: 3rem;
}

.ep-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--main-color);
  color: #fff;
  font-size: 1.2rem;
  height: 200px;
  width: 200px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin: 1rem 0.5rem;
}

.ep-title {
  height: 180px;
  width: 180px;
  background: linear-gradient(45deg, #2c408e, #344ca9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  box-shadow: 5px -5px 5px #283a80, -5px 5px 5px #3a54bc;
}

.ep-title:hover {
  background: linear-gradient(135deg, #253575, #344ca9);
}

.ep-title p:first-child {
  display: block;
  background: var(--bronze-color);
  width: 100%;
}
.ep-title p:nth-child(2) {
  font-size: 1.2rem;
  width: 100%;
}

/* Quiz section */

.mm-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: calc(100vh - 50px);
}

.mm-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 580px;
  width: 7%; */
}

.mm-buttons .mm-btn {
  border-radius: 15px;
  background: linear-gradient(45deg, #d5d2d2, #fef9f9);
  box-shadow: 8px -8px 42px #c0bdbd, -8px 8px 42px #ffffff;
  height: 60px;
  width: 120px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

.mm-buttons .mm-btn:hover {
  background: linear-gradient(135deg, #d5d2d2, #fef9f9);
}

.mm-buttons .mm-btn:active {
  transform: scale(0.95);
  box-shadow: 4px -4px 24px #c0bdbd, -4px 4px 24px #ffffff;
}
.mm-buttons .mm-btn.active {
  transform: scale(0.95);
  background: linear-gradient(45deg, #2c408e, #344ca9);
  box-shadow: 4px -4px 24px #c0bdbd, -4px 4px 24px #ffffff;
  color: #fff;
}

.mm-container .mm-wrapper {
  position: relative;
  overflow: hidden;
  width: 1100px;
  height: 580px;
  background: var(--main-color);
  margin: 0 1rem 1rem;
  display: none;
  transform: scale(0.95);
}

.mm-container .mm-wrapper.active {
  display: block;
}

.mm-container .mm-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* E-learning lessons section */

.season-container .mm-buttons {
  width: 80%;
  margin: 1rem auto;
  justify-content: center;
  flex-wrap: wrap;
}

.season-container .mm-buttons .mm-btn {
  text-align: center;
  width: 200px;
}

.season-container .mm-buttons.season .mm-btn {
  width: 150px;
}

.chapter-section {
  max-width: 1000px;
  margin: 1rem auto;
  border-radius: 25px;
  background: #ede9e9;
  box-shadow: 20px 20px 60px #c9c6c6, -20px -20px 60px #ffffff;
  display: none;
}

.chapter-section.active {
  display: block;
}

.chapter-section .episodes-grid {
  justify-content: center;
  padding-bottom: 0;
}

.chapter-section .ep-card {
  width: 180px;
  height: 180px;
}

.chapter-section .ep-title {
  width: 160px;
  height: 160px;
}

/* Footer */

footer {
  color: var(--main-color);
  padding: 1rem 2rem;
  margin: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.soc-logos {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 1rem;
}

.fa-facebook {
  margin-right: 2rem;
}

.erasmus-footer {
  width: 400px;
  margin-left: -1.2rem;
}

.footer-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-logo {
  margin-top: 1rem;
}

.ef-footer {
  width: 200px;
}

.glafka-footer {
  width: 180px;
}

.cofac-footer {
  width: 240px;
  margin-right: -0.5rem;
}

.copyright {
  background: var(--light-color);
  color: var(--main-color);
  text-align: center;
  padding: 0.5rem 0;
}

@media screen and (max-width: 768px) {
  .erasmus-footer {
    width: 300px;
    margin-left: -1rem;
  }
  .funding-info {
    font-size: 14px;
  }
}

@media (max-width: 520px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem 1rem;
  }
  .footer-left {
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .fa-facebook {
    margin-right: 10rem;
  }

  .erasmus-footer {
    margin: 0.5rem 0;
  }

  .footer-right {
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    width: 100%;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 990px) {
  .topics .topics-wrapper {
    display: none;
  }
  .topics .topics-wrapper-min {
    display: block;
  }
  .topics .topics-wrapper-min .topic {
    position: relative;
    height: 100px;
  }
  .topics .topics-wrapper-min .topic img {
    transform: scale(1.4);
  }
}

@media screen and (max-width: 768px) {
  .section-header {
    font-size: 1.8rem;
  }

  header .hamburger {
    padding: 8px;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 3;
  }
  header .hamburger .line {
    width: 30px;
    height: 3px;
    background: #fff;
  }

  header .hamburger .line.blue-x {
    background: var(--main-color);
  }

  header .hamburger .line:nth-child(2),
  header .hamburger .line:nth-child(3) {
    margin-top: 6px;
  }

  header .navbar {
    height: 100vh;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--light-color);
    transition: all 0.5s ease-out;
    transform: translateX(768px);
  }

  header .navbar .nav-list {
    flex-direction: column;
    justify-content: center;
    height: 70%;
    padding-right: 0;
    font-weight: bold;
    font-size: 20px;
    color: var(--main-color);
  }

  header .navbar.open {
    transform: translateX(0);
  }

  header .navbar .nav-list .nav-list-item {
    height: 12%;
  }

  .main-section .overlay h2 {
    font-size: 1.2rem;
  }

  .main-section .overlay .main-title-sm {
    font-size: 2rem;
    margin-top: 0.5rem;
    text-align: center;
  }

  .main-section .overlay .main-title {
    font-size: 3rem;
    margin-top: 3rem;
  }

  .main-section .overlay .buttons {
    width: 90%;
    justify-content: space-evenly;
  }
  .main-section .overlay .countdown {
    width: 90%;
  }

  .about .text-content {
    column-count: 1;
    padding-top: 3rem;
    width: 100%;
  }

  .about .text-content p {
    margin-top: 0.8rem;
  }

  .registration .paragraph p {
    font-size: 1.1rem;
    text-align: center;
  }

  .registration .deadlines {
    width: 90%;
  }

  .registration .registration-link h2 {
    font-size: 18px;
  }
  .registration .registration-link h2 a:hover {
    font-size: 20px;
  }

  .erasmus-footer {
    width: 300px;
    margin-left: -1rem;
  }
  .funding-info {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .schedule .schedule-wrapper {
    width: 100%;
  }
}

@media (max-width: 520px) {
  header .navbar {
    width: 75%;
    transform: translate(520px);
  }

  .main-section .overlay h2 {
    font-size: 1.2rem;
    font-weight: normal;
  }

  .main-section .overlay .main-title {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .main-section .overlay .main-title-sm {
    font-style: normal;
    font-size: 1.6rem;
    margin-top: 1rem;
  }

  .main-section .overlay .buttons {
    flex-direction: column;
    height: 40%;
    padding: 3rem;
    justify-content: space-around;
    margin-top: 0;
  }

  .topics .topics-wrapper-min .topic img {
    transform: scale(1.2);
  }

  .info-bar {
    flex-direction: column;
  }
  .info-bar .info-item {
    margin-bottom: 1rem;
    width: 300px;
    padding: 1rem 0;
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.5);
  }

  .form {
    width: 100%;
  }
  .form form input {
    width: 100%;
  }

  .registration .paragraph {
    width: 95%;
    padding: 1.5rem;
  }

  .schedule .schedule-wrapper {
    width: 100%;
  }
  .schedule .schedule-wrapper .select-day {
    width: 100%;
  }
  .schedule
    .schedule-wrapper
    .schedule-items-container
    .schedule-items
    .schedule-item {
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .schedule
    .schedule-wrapper
    .schedule-items-container
    .schedule-items
    .schedule-item
    .schedule-item-info {
    padding: 0.5rem;
    width: 25%;
  }

  .schedule
    .schedule-wrapper
    .schedule-items-container
    .schedule-items
    .schedule-item
    h3 {
    font-size: 1rem;
    font-weight: normal;
  }
  .workshop .desc {
    width: 100%;
    font-size: 1.2rem;
  }

  .pricing .table th,
  .pricing .table td {
    padding: 0.5rem;
    height: 75px;
    /* border-bottom: 3px solid #cccccc; */
  }

  .pricing .table th:nth-child(2) h2,
  .pricing .table th:nth-child(3) h2 {
    font-size: 18px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem 1rem;
  }
  .footer-left {
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .fa-facebook {
    margin-right: 10rem;
  }

  .erasmus-footer {
    margin: 0.5rem 0;
  }

  .footer-right {
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    width: 100%;
    flex-direction: column-reverse;
  }
}

@media (max-width: 375px) {
  .topics .topics-wrapper-min .topic img {
    transform: scale(0.9);
  }
}
